@model EntityLayer.Concrete.Writer


@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminaLayout.cshtml";
}
<div>
    <br />
    <h2 class="text-center" style="color:navy"> Yeni Yazar Ekleme</h2>
    <hr />
    <div style="margin-top:10px" >
        @using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
        { 
        <div class="form-group">
            <div class="container" style="margin-top:10px">
                @Html.Label("Yazar Adı")
                @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterName)

                @Html.Label("Yazar Soyadı")
                @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterSurName)

                @Html.Label("Yazar Mail")
                @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterMail)

                @Html.Label("Yazar Şifresi")
                @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterPassword)

                @Html.Label("Yazar Görsel Linki")
                @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterImage)

                @Html.Label("Yazar Ünvan")
                @Html.TextAreaFor(x => x.WriterTitle, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(x => x.WriterAbout)*@

                @Html.Label("Yazar Hakkında")
                @Html.TextAreaFor(x => x.WriterAbout, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterAbout)

                <button class="btn btn-success" style="margin-top:10px">Yazarı Ekle</button>
            </div>
        </div>
        }
    </div>

</div>
