@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminaLayout.cshtml";
}

<div>
    <br />
    <h2 class="text-center" style="color:navy"> Yeni Başlık Ekleme</h2>
    <hr />
    <div style="margin-top:10px">
        @using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
        {
            <div class="form-group">
                <div class="container" style="margin-top:10px">
                    @Html.Label("Başlık Adı")
                    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.HeadingName)

                    @Html.Label("Kategori")
                    @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.vlc, new {@class="form-control"})

                    @Html.Label("Yazar")
                    @Html.DropDownListFor(x=>x.WriterId,(List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" }) 

                    <button class="btn btn-success" style="margin-top:50px">Başlık Oluştur</button>
                </div>
            </div>
        }
    </div>

</div>

